// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black: #000;
$color-white: #ffffff;
$color-danger: #dc3545;

// box-shadow
$box-shadow-primary: 6px 6px 20px rgba(122, 122, 122, 0.212);
// mobile devices
$breakpoint-tablet: 768px;
$breakpoint-pc: 1025px;
