.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 21rem 1fr 12rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: $color-primary-dark;
}
main {
  grid-area: main;
  background: $color-white;
  min-height: 50%;
}

footer {
  grid-area: footer;
  background-color: $color-primary;
}
